/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   monit.css                                          :+:    :+:            */
/*                                                     +:+                    */
/*   By: fbes <fbes@student.codam.nl>                 +#+                     */
/*                                                   +#+                      */
/*   Created: 2021/11/11 19:23:10 by fbes          #+#    #+#                 */
/*   Updated: 2021/11/11 22:15:58 by fbes          ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

#monit-progress-old .mb-1 {
	text-align: center;
}

#monit-progress-old-text {
	text-align: center;
	font-size: xx-large;
}

.profile-item #lt-emote-old {
	vertical-align: middle;
	margin-right: 0.5ch;
}

#codam_intra_monit_system_display_deprecation_notice {
	font-family: Sans-serif;
	letter-spacing: 0px;
	padding: 0px 8px;
	color: #dadada;
	font-size: small;
	text-align: center;
	font-weight: 100;
}
